@font-face {
    font-family: 'Norse-Bold';
    src: url('./fonts/Norse-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Sixty-Four';
    src: url('./fonts/Sixtyfour/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

:root {
    --primary-clr: #5b7dad;
    --text-color: #243447;
    --secondary-clr: #ffffff;
    --medium-clr: #ffa600;
    --low-clr: #28b80c;
    --high-clr: #f11515;
    --sidebar-clr: #50043d;
    --form-gap: 10px;
}

body {
    font-family: "Norse-Bold";
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--text-color);
}

#app-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
}

.side-bar {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1rem;
    color: var(--secondary-clr);
    background-color: var(--sidebar-clr);
}

.main-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-clr);
}

.hidden {
    display: none;
}

#new-project-btn, #new-todo-btn {
    border: none;
    font-family: 'Norse-Bold';
    font-size: 1rem;
    padding: 3.5px;
    width: 100px;
    background-color: var(--medium-clr);
    color: var(--secondary-clr);
    cursor: pointer;
    border-radius: 6px;
    display: block;
    margin: 5px auto;
}

#new-project-form-container {
    border: none;
    border-radius: 6px;
    padding: 40px;
}

#new-project-form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-project-btn, #cancel-project-btn {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 7px;
}

#todo-modal {
    position: relative;
    width: 250px;
    border: none;
    border-radius: 6px;
    padding: 32px;
    padding-top: 40px;
    border: 1px solid #7be266;
}

#add-todo-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#close-dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-color);
}

#close-dialog:hover {
    background: rgba(133, 129, 129, 0.63);
}

#add-todo-btn {
    cursor: pointer;
    width: 100px;
    display: block;
    margin: 0 auto;
    background-color: var(--low-clr);
    border: none;
    border-radius: 5px;
    padding: 5px;
}